.container {
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  width: 350px;
  height: 596px;
  background-color: #15263f;
  border-radius: 15px;
  position: relative;
}
.section .mainimg {
  margin-top: 24px;
  margin-left: 24px;
}
/* .mainimg {
  z-index: 0;
} */
h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 24px;
  margin-left: 24px;
}
h1:hover {
  color: #00fff8;
  cursor: pointer;
}
p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #8bacd9;
  width: 302px;
  height: 52px;
  margin-top: 16px;
  margin-left: 24px;
}
h2 {
  display: inline-block;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #00fff8;
  margin-left: 7px;
}
h3 {
  display: inline-block;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8bacd9;
  margin-left: 9px;
}
.div1 {
  display: inline-block;
}
.div2 {
  display: inline-block;
}
.div3 {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin-top: 24px;
}
h4 {
  display: inline-block;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8bacd9;
  margin-left: 10px;
  margin-top: 15px;
}
h5 {
  display: inline-block;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 15px;
}
h5:hover {
  color: #00fff8;
  cursor: pointer;
}
hr {
  background-color: #2e405a;
  width: 302px;
  height: 1px;
  margin-top: 24px;
}
.lastimg {
  margin-top: 16px;
  margin-left: 24px;
}
.div4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.div5 {
  position: absolute;
  width: 302px;
  height: 302px;
  background-color: #00fff8;
  top: 24px;
  left: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.div5:hover {
  opacity: 1;
  background-color: rgba(0, 255, 248, 0.5);
  cursor: pointer;
}
